/* CSS Document */
body
{
padding:0px;
margin:0px;
}
#main
{
width:100%;
height:auto;
}
.header
{
width:100%;
height:358px;
float:left;
background:url(images/header_bg.jpg);
background-repeat:repeat-x;
}
.header_imageblock
{
width:274px;
height:358px;
float:left;
padding-left:15px;
}
.header_image
{
width:273px;
height:337px;
float:left;
background:url(images/img_header.jpg);
background-repeat:no-repeat;
}
.logoblock
{
width:348px;
height:360px;
float:left;
}
.logo
{
width:348px;
height:157px;
float:left;
background:url(images/logoimg.jpg);
background-repeat:no-repeat;
}
.searchblock
{
width:353px;
height:277px;
float:left;
padding-top:80px;
}
.searchimg
{
width:353px;
height:276px;
float:right;
background:url(images/search_bg.jpg);
background-repeat:no-repeat;
}
.searchtext_block
{
width:286px;
height:60px;
float:right;
padding-right:80px;
}
.searchtext
{
width:245px;
height:35px;
float:right;
font-family:Arial, Helvetica, sans-serif;
font-size:30px;
color:#ceebff;
border-bottom:4px solid #bdd6e6;
padding-top:15px;
}

.searchtext2
{
width:245px;
height:35px;
float:right;
font-family:Arial, Helvetica, sans-serif;
font-size:30px;
color:red;
border-bottom:4px solid red;
padding-top:15px;
}



.selectboxblock,.selectboxblock1
{
width:338px;
height:21px;
float:right;
padding-top:17px;
}
.selectboxblock1
{
padding-top:7px;
}
.iamablock
{
width:148px;
height:21px;
float:right;
padding-left:20px;
}
.lookingforblock
{
width:318px;
height:21px;
float:center;
padding-right:20px;
}
.text_iam
{
width:50px;
height:21px;
float:right;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
text-align:center;
color:#FFFFFF;
}
.sbox_iam
{
width:96px;
height:18px;
float:right;
background:url(images/sbox1.jpg);
background-repeat:no-repeat;
}
.lookingfor
{
width:75px;
height:18px;
float:right;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
text-align:left;
color:#FFFFFF;
}
.sbox_lookingfor
{
width:241px;
height:18px;
float:right;
background:url(images/sbox2.jpg);
background-repeat:no-repeat;
}
.sbox_dob
{
width:56px;
height:18px;
float:left;
background:url(images/sbox1.jpg);
background-repeat:no-repeat;
margin-left:15px;
}
.searchnowblock
{
width:208px;
height:20px;
float:left;
padding-left:130px;
}
.searchnowimg
{
width:117px;
height:36px;
float:left;
background:url(images/searchnow.jpg);
background-repeat:no-repeat;
}
.main_searchblock
{
width:333px;
height:159px;
float:right;
}
.menublock
{
width:995px;
height:65px;
float:left;
padding-left:15px;
padding-top:20px;
}
.left_menublock
{
width:19px;
height:65px;
float:left;
background:url(images/menu_left.jpg);
background-repeat:no-repeat;
}
.center_menublock
{
width:945px;
height:65px;
float:left;
background:url(images/menu_center.jpg);
background-repeat:repeat-x;
}
.right_menublock
{
width:23px;
height:65px;
float:left;
background:url(images/menu_right.jpg);
background-repeat:no-repeat;
}
.menuitemsblock
{
width:900px;
height:59px;
float:left;
}
.menuitemsblock ul
{
padding:10px 0px 0px 70px;
margin:0px;
}
.menuitemsblock ul li
{
width:146px;
height:43px;
float:left;
list-style:none;
background:url(images/icon_menu.jpg);
background-repeat:no-repeat;
background-position:right;
padding-left:17px;
}
.menuitemsblock li a {font-family:Verdana; font-size:13px; color:#000000; display:block; text-decoration:none; height:auto; line-height:40px; text-align:left; }
.menuitemsblock li a:hover {  text-align:left; font-family:Verdana; font-size:13px; color:#000000; display:block; text-decoration:none; height:auto; 
   } 
   .content_middleblock
   {
   width:100%;
   height:auto;
   float:left;
   }
.sub_content_middleblock
{
width:870px;
height:auto;
float:left;
padding-left:70px;
}
.left_sub_content_middleblock
{
width:605px;
height:345px;
float:left;
}
.alone_block
{
width:599px;
height:138px;
float:left;
padding-top:10px;
}
.left_alone_block
{
width:351px;
height:138px;
float:left;
}
.left_alone_block1
{
width:385px;
height:138px;
float:left;
}

.leftpart_left_alone_block
{
width:19px;
height:138px;
float:left;
background:url(images/left_aloneblock.jpg);
background-repeat:no-repeat;
}
.centerpart_left_alone_block
{
width:332px;
height:138px;
float:left;
background:url(images/center_part_alonepart.jpg);
background-repeat:repeat-x;
}
.centerpart_left_alone_block1
{
width:366px;
height:138px;
float:left;
background:url(images/center_part_alonepart.jpg);
background-repeat:repeat-x;
}
.alone_img
{
width:261px;
height:54px;
float:left;
background:url(images/stay_aloneimg.jpg);
background-repeat:no-repeat;
margin-top:15px;
}
.clickhere_img
{
width:156px;
height:35px;
float:left;
background:url(images/img_clickhere.jpg);
background-repeat:no-repeat;
margin-top:15px;
}
.img_left_alone_block,.img_left_alone_block1
{
width:247px;
height:138px;
float:left;
background:url(images/img_stayalone.jpg);
background-repeat:no-repeat;
}
.img_left_alone_block1
{
width:210px;
height:138px;
float:left;
background:url(images/img_another.jpg);
background-repeat:no-repeat;
}
.main_welcome_block
{
width:597px;
height:187px;
float:left;
padding-top:25px;
}
.welcome_block
{
width:597px;
height:187px;
float:left;
}
.welcome_img
{
width:238px;
height:21px;
float:left;
background:url(images/welcome_img.jpg);
background-repeat:no-repeat;
}
.welcome_text_block
{
width:590px;
height:149px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
text-align:left;
padding-left:5px;
line-height:18px;
}
.lastadded_block
{
width:241px;
height:334px;
float:left;
}
.right_sub_content_middleblock
{
width:247px;
height:340px;
float:left;
padding-top:10px;
padding-left:10px;
}
.right_sub_content_middleblock_top
{
width:247px;
height:15px;
float:left;
background:url(images/added_top.jpg);
background-repeat:no-repeat;
}
.right_sub_content_middleblock_center
{
width:247px;
height:310px;
float:left;
background:url(images/added_center.jpg);
background-repeat:repeat-y;
}
.right_sub_content_middleblock_bottom
{
width:247px;
height:15px;
float:left;
background:url(images/added_bottom.jpg);
background-repeat:no-repeat;
}
.sub_lastaddedblock
{
width:198px;
height:302px;
float:left;
padding-left:30px;
}
.last_addedblock
{
width:198px;
height:38px;
float:left;
padding-top:5px;
}
.lastaddedimg_block
{
width:198px;
height:28px;
float:left;
}
.lastaddedimg
{
width:106px;
height:19px;
float:left;
background:url(images/added_img.jpg);
background-repeat:no-repeat;
}
.borderimg_block
{
width:185px;
height:4px;
float:left;
background:url(images/border_img.jpg);
background-repeat:no-repeat;
position:relative;
top:7px;
}
.pair_block
{
width:189px;
height:122px;
float:left;
}
.pair_block1
{
width:189px;
height:132px;
float:left;
}
.pair_img
{
width:189px;
height:103px;
float:left;
}
.namemorablock
{
width:189px;
height:19px;
float:left;
padding-top:5px;
}
.nameblock
{
width:73px;
height:19px;
float:left;
font-family:Arial, Helvetica, sans-serif;
color:#74001b;
font-size:12px;
}
.moreblock
{
width:43px;
height:19px;
float:right;
font-family:Arial, Helvetica, sans-serif;
color:#ff0082;
font-size:12px;
text-decoration:none;
}
.footerblock
{
width:100%;
height:94px;
float:left;
background:url(images/footer_bg.jpg);
background-repeat:repeat-x;
}
.sub_footerblock
{
width:210px;
height:44px;
float:left;
padding-left:400px;
padding-top:30px;
}
.privacyblock,.privacyblock1
{
width:210px;
height:auto;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
}
.privacytext
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
}
.privacyblock1
{
padding-top:5px;
}
.contentblock_successblock,.contentblock_successblock1
{
width:927px;
height:325px;
float:left;
padding-left:45px;
padding-top:10px;
}
.contentblock_successblock1
{
height:353px;
}
.top_contentblock_successblock
{
width:927px;
height:179px;
float:left;
}
.left_top_contentblock_successblock
{
width:13px;
height:179px;
float:left;
background:url(images/left_scoupleblock.jpg);
background-repeat:no-repeat;
}
.center_top_contentblock_successblock
{
width:901px;
height:179px;
float:left;
background:url(images/center_scoupleblock.jpg);
background-repeat:repeat-x;
}
.right_top_contentblock_successblock
{
width:13px;
height:179px;
float:left;
background:url(images/right_scoupleblock.jpg);
background-repeat:no-repeat;
}
.successcouple_headingblock
{
width:860px;
height:40px;
float:left;
padding-left:5px;
}
.successcouple_heading
{
width:180px;
height:21px;
float:left;
background:url(images/successfulcoupleimg.jpg);
background-repeat:no-repeat;
margin-top:15px;
}
.pairinfoblock
{
width:901px;
height:113px;
float:left;
}
.left_pairinfoblock
{
width:445px;
height:113px;
float:left;
padding-left:5px;
}
.img_left_pairinfoblock
{
width:170px;
height:113px;
float:left;
}
.info_left_pairinfoblock
{
width:269px;
height:113px;
float:left;
padding-left:5px;
}
.caption,.name,.des,.full,.padding
{
font-family:verdana;
font-size:13px;
color:#ff0084;
width:269px;
}
.name
{
color:#0876d1;
padding-top:2px;
}
.des
{
color:#000000;
font-size:11px;
padding-top:5px;
}
.full
{
color:#72001a;
font-size:11px;
padding-top:10px;
}
.latestnewsblock
{
width:308px;
height:135px;
float:left;
padding-left:10px;

}
.latestnews
{
width:308px;
font-family:Arial, Helvetica, sans-serif;
font-size:22px;
color:#f7007e;
padding-top:10px;
}
.topic
{
width:308px;
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
color:#0876d1;
padding-top:3px;
}
.des_success
{
width:308px;
color:#000000;
font-size:12px;
padding-top:3px;
font-family:Arial, Helvetica, sans-serif;
line-height:18px;
}
.date
{
width:308px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-style:italic;
font-weight:bold;
color:#000000;
}
.float1
{
float:left;
width:20px;
}

.float
{
float:left;
}
